In [4]:
a=1
while a <=10:
    print (a)
   a= a+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [5]:
a= 1 

# while a <= 10 :  "while= used to sumup till that point"
    print(a)
    a = a +1

1
2
3
4
5
6
7
8
9
10

In [15]:
a= 1 

while a <= 10 :  
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [22]:
k=["bobby","rohan","panwar","bunty"]

In [26]:
for i in k:
    # print(k) mtlb jitni bar jyga utni show kega 4 h tro 4 show hua

['bobby', 'rohan', 'panwar', 'bunty']
['bobby', 'rohan', 'panwar', 'bunty']
['bobby', 'rohan', 'panwar', 'bunty']
['bobby', 'rohan', 'panwar', 'bunty']

In [27]:
l1 = ["sudh" ,"kumar" , "krish" ,"naik"]

In [28]:
for i in l1 :
    print(i)

sudh
kumar
krish
naik

In [29]:
k=["bobby","rohan","panwar","bunty"]

In [30]:
for i in k :
    print(i)

bobby
rohan
panwar
bunty

In [32]:
for i in k:
    print(i)
else:
    # print ("do something") kuch add krna h to  mtlb complete hone k bad

bobby
rohan
panwar
bunty
do something

In [33]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [34]:
for i in k:
    if i =="panwar":
        # break thodo uske bad kuch nhi aayga
    print(i)

bobby
rohan

In [35]:
for i in k:
    if i=="bunty":
        break
    print(i)
else:
    print("dfdg")

bobby
rohan
panwar

In [36]:
for i in k :
    if i =="panwar":
        continue
    print(i)

bobby
rohan
bunty

In [39]:
for i in k :
    if i =="panwar":
        continue
    print(i)

bobby
rohan
bunty

In [38]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [40]:
for i in k:
    if i=="panwar":
        continue
    print(i)
else:
    print("add kr bhai")

bobby
rohan
bunty
add kr bhai

In [41]:
range(5)

range(0, 5)

In [42]:
list(range(3))

[0, 1, 2]

In [44]:
# list(range(0,7,2))2 is jump

[0, 2, 4, 6]

In [45]:
list(range(-2,9,3))

[-2, 1, 4, 7]

In [46]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [47]:
# len(k) len= length

4

In [48]:
range(len(k))

range(0, 4)

In [51]:
list(range(len(l1)))

[0, 1, 2, 3]

In [52]:
for i in list(range(len(l1))):
    print(i)

0
1
2
3

In [54]:
for i in list(range(len(l1))):
    print(k[i])

bobby
rohan
panwar
bunty

In [1]:
list(range(len(k)-1 ,-1))

NameError: name 'k' is not defined

In [3]:
k=["bobby","rohan","panwar","bunty"]

In [4]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [8]:
range(5)

range(0, 5)

In [12]:
list(range(5,10,2))

[5, 7, 9]

In [13]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [14]:
list(range(len(k)))

[0, 1, 2, 3]

In [16]:
list(k)

['bobby', 'rohan', 'panwar', 'bunty']

In [17]:
len(k)

4

In [21]:
for i in k:
    print(i)

bobby
rohan
panwar
bunty

In [27]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [30]:
list(range(len(k)))

[0, 1, 2, 3]

In [31]:
for i in range(len(k)):
    print(k[i])

bobby
rohan
panwar
bunty

In [32]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [33]:
len(k)

4

In [44]:
list(range(len(k)-1,-1,-1,))

[3, 2, 1, 0]

In [45]:
for i in range(len(k)-1):
    print(k(i))

TypeError: 'list' object is not callable

In [46]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [51]:
for i in range(len(k)-1,-1,-1):
    print(k[i])

bunty
panwar
rohan
bobby

In [53]:
for i in range(len(k)):
    print(k[i])

bobby
rohan
panwar
bunty

In [54]:
k

['bobby', 'rohan', 'panwar', 'bunty']

In [59]:
for i in [0,1,2,3,]:
    print(k[i])

bobby
rohan
panwar
bunty

In [62]:
x=[12,45,2,55,34,54,3]

In [63]:
x

[12, 45, 2, 55, 34, 54, 3]

In [67]:
x[5]

54

In [69]:
sum(x)

205

In [75]:
x

[12, 45, 2, 55, 34, 54, 3]

In [78]:
list(range(0 ,len(x) , 3))

[0, 3, 6]

In [81]:
result = 0
for i in x :
    result = result+ i 
result

205

In [83]:
result=4
for i in x:
    result=result+i
result

209

In [84]:
x

[12, 45, 2, 55, 34, 54, 3]

In [85]:
for i in x:
    print(i)

12
45
2
55
34
54
3

In [88]:
f=("rohan")

In [87]:
for i in f:
    print (i)

75
4
5
34
234
89
bobby
rohan

In [89]:
f

'rohan'

In [90]:
for i in f:
    print(i)

r
o
h
a
n

In [93]:
A={"name":"bobby","class":"AI","topic":"stats"}

In [94]:
A

{'name': 'bobby', 'class': 'AI', 'topic': 'stats'}

In [95]:
A["name"]

'bobby'

In [96]:
A["class"]

'AI'

In [97]:
A.keys()

dict_keys(['name', 'class', 'topic'])

In [98]:
for i  in A.keys():
    print (A[i])

bobby
AI
stats

In [99]:
A.values()

dict_values(['bobby', 'AI', 'stats'])

In [100]:
A

{'name': 'bobby', 'class': 'AI', 'topic': 'stats'}

In [102]:
A.items()

dict_items([('name', 'bobby'), ('class', 'AI'), ('topic', 'stats')])